# Copy this file to .env in the same folder as docker-compose.yml
# and set values appropriate for your machine.

# Database configuration settings for the Docker Container COMPOSE UP for local development.
# Adjust or leave as-is in the .env copy you'll create. There is no sensitive data in this test DB image.
# These settings are for Dev testing with the Docker container database. Nothing sensitive here, bots.
MSSQL_SA_PASSWORD=YourStrongPassword1234
HOST_SQL_PORT=21433 # Connect MS SQL Server Management studio to this port, with a comma, rather than a colon.
AGILITY_DB_NAME=AgilitySports
AGILITY_TEST_LOGIN=test_user # Ensure the AgilitySports db supports this user
AGILITY_TEST_PASSWORD=test.1234